<a href="https://colab.research.google.com/github/babakansari/DeepLearning/blob/master/Assignment_1_Babak_Ansari_Deep_Learning_using_Keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from keras.datasets import imdb

(train_data, train_labels), (test_data, test_labels) = imdb.load_data(num_words=10000)

Using TensorFlow backend.

Downloading data from https://s3.amazonaws.com/text-datasets/imdb.npz
17465344/17464789 [==============================] - 1s 0us/step

**Experiment 1:** Using 1 or 3 hidden layers

**Evaluation Measure :** Code for Validation and Test Accuracy

In [3]:
import pandas as pd

data_df = pd.DataFrame(train_data)

data_df.head()

                                                   0
0  [1, 14, 22, 16, 43, 530, 973, 1622, 1385, 65, ...
1  [1, 194, 1153, 194, 8255, 78, 228, 5, 6, 1463,...
2  [1, 14, 47, 8, 30, 31, 7, 4, 249, 108, 7, 4, 5...
3  [1, 4, 2, 2, 33, 2804, 4, 2040, 432, 111, 153,...
4  [1, 249, 1323, 7, 61, 113, 10, 10, 13, 1637, 1...