<a href="https://colab.research.google.com/github/babakansari/DeepLearning/blob/master/Countries_Autocomplete_RNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
np.random.seed(42)
import tensorflow as tf
tf.set_random_seed(42)
from keras.models import Sequential, load_model
from keras.layers import Dense, Activation
from keras.layers import LSTM, Dropout
from keras.layers import TimeDistributed
from keras.layers.core import Dense, Activation, Dropout, RepeatVector
from keras.optimizers import RMSprop
import matplotlib.pyplot as plt
import pickle
import sys
import heapq
import seaborn as sns
from pylab import rcParams

%matplotlib inline

sns.set(style='whitegrid', palette='muted', font_scale=1.5)

rcParams['figure.figsize'] = 12, 5

Using TensorFlow backend.

In [3]:
import pandas as pd
import io

file_name = 'https://github.com/babakansari/DeepLearning/blob/master/Countries.xlsx?raw=true'

original_df = pd.read_excel(file_name)
original_df.head()

                  Name  Ext
0     Afghanistan (AF)  NaN
1   Aland Islands (AX)  NaN
2         Albania (AL)  NaN
3         Algeria (DZ)  NaN
4  American Samoa (AS)  NaN

In [6]:
df = pd.DataFrame(columns=['Name', 'Source', 'Target', 'Len'])

idx = 0
for index, row in original_df.iterrows():
  name = row['Name']
  nameLen = row['Name'].find('(')

  for i, c in enumerate(name):
    if i == nameLen-2:
      break;
    df.loc[idx] = [name[0:nameLen], name[0:i]+c, name[i+1:nameLen], i+1]
    idx = idx + 1

df.head(50)

               Name         Source          Target Len
0      Afghanistan               A     fghanistan    1
1      Afghanistan              Af      ghanistan    2
2      Afghanistan             Afg       hanistan    3
3      Afghanistan            Afgh        anistan    4
4      Afghanistan           Afgha         nistan    5
5      Afghanistan          Afghan          istan    6
6      Afghanistan         Afghani           stan    7
7      Afghanistan        Afghanis            tan    8
8      Afghanistan       Afghanist             an    9
9      Afghanistan      Afghanista              n   10
10   Aland Islands               A   land Islands    1
11   Aland Islands              Al    and Islands    2
12   Aland Islands             Ala     nd Islands    3
13   Aland Islands            Alan      d Islands    4
14   Aland Islands           Aland        Islands    5
15   Aland Islands          Aland         Islands    6
16   Aland Islands         Aland I         slands    7
17   Aland Islands        Aland Is          lands    8
18   Aland Islands       Aland Isl           ands    9
19   Aland Islands      Aland Isla            nds   10
20   Aland Islands     Aland Islan             ds   11
21   Aland Islands    Aland Island              s   12
22         Albania               A         lbania    1
23         Albania              Al          bania    2
24         Albania             Alb           ania    3
25         Albania            Alba            nia    4
26         Albania           Alban             ia    5
27         Albania          Albani              a    6
28         Algeria               A         lgeria    1
29         Algeria              Al          geria    2
30         Algeria             Alg           eria    3
31         Algeria            Alge            ria    4
32         Algeria           Alger             ia    5
33         Algeria          Algeri              a    6
34  American Samoa               A  merican Samoa    1
35  American Samoa              Am   erican Samoa    2
36  American Samoa             Ame    rican Samoa    3
37  American Samoa            Amer     ican Samoa    4
38  American Samoa           Ameri      can Samoa    5
39  American Samoa          Americ       an Samoa    6
40  American Samoa         America        n Samoa    7
41  American Samoa        American          Samoa    8
42  American Samoa       American           Samoa    9
43  American Samoa      American S           amoa   10
44  American Samoa     American Sa            moa   11
45  American Samoa    American Sam             oa   12
46  American Samoa   American Samo              a   13
47         Andorra               A         ndorra    1
48         Andorra              An          dorra    2
49         Andorra             And           orra    3