<a href="https://colab.research.google.com/github/babakansari/DeepLearning/blob/master/Countries_Autocomplete.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://medium.com/@curiousily/making-a-predictive-keyboard-using-recurrent-neural-networks-tensorflow-for-hackers-part-v-3f238d824218

In [1]:
import numpy as np
np.random.seed(42)
import tensorflow as tf
tf.set_random_seed(42)
from keras.models import Sequential, load_model
from keras.layers import Dense, Activation
from keras.layers import LSTM, Dropout
from keras.layers import TimeDistributed
from keras.layers.core import Dense, Activation, Dropout, RepeatVector
from keras.optimizers import RMSprop
import matplotlib.pyplot as plt
import pickle
import sys
import heapq
import seaborn as sns
from pylab import rcParams

%matplotlib inline

sns.set(style='whitegrid', palette='muted', font_scale=1.5)

rcParams['figure.figsize'] = 12, 5

Using TensorFlow backend.

In [3]:
import pandas as pd
import io

file_name = 'https://github.com/babakansari/DeepLearning/blob/master/Countries.xlsx?raw=true'

df = pd.read_excel(file_name)
df

                       Name  Ext
0          Afghanistan (AF)  NaN
1        Aland Islands (AX)  NaN
2              Albania (AL)  NaN
3              Algeria (DZ)  NaN
4       American Samoa (AS)  NaN
..                      ...  ...
254  Wallis and Futuna (WF)  NaN
255     Western Sahara (EH)  NaN
256              Yemen (YE)  NaN
257             Zambia (ZM)  NaN
258           Zimbabwe (ZW)  NaN

[259 rows x 2 columns]